@media screen and (max-width:600px) {
   
    /* .b-form{
        grid-template-rows: column;
        padding: 16px;
    }
    .banner-desc>h1{
        padding: 0;
    }
    .banner-form{
        margin: 0;
        text-align: center;
    } */
    .about-tour-container{
        flex-direction: column;
        width: 100%;
    }
    .about-tour-desc{
        width: 100%;
    }
    h3{
        text-align: start;
    }
}