@media screen and (max-width:600px) {
   
    /* .b-form{
        grid-template-rows: column;
        padding: 16px;
    }
    .banner-desc>h1{
        padding: 0;
    }
    .banner-form{
        margin: 0;
        text-align: center;
    } */
    .about-tour-container{
        flex-direction: column;
        width: 100%;
    }
    .about-tour-desc{
        width: 100%;
    }
    h3{
        text-align: start;
    }
    .destination-container{
        padding: 0;
    }
    .destination-img{
        flex-direction: column;
    }
    .first, .second, .third{
        
        flex-direction: column;
    }
    .destination-desc>p{
        width: 100%;
    }
    /* why section start here */
    .why-container{
        padding: 0;
        margin: 0 auto;
    }
    .desc-container{
        flex-direction: column;
    }
    .content{
        flex-direction: column;
    }
    #desc-3{
        margin: 0;
    }
    .heading>h3{
        text-align: center;
    }
    /* place section start here */
    .place-container{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .place-desc-container{
        width: 100%;
    }
    .place-img{
        width: 100%;
    }
    
}