@media screen and (max-width:576px) {
    *{
        overflow-x: auto;
        margin: 0 auto;
        padding: 0 auto;
       }
       h3{
        font-size: 20px;
       }
/* nav section start here */
.nav-container{
    flex-direction: column;
}
.nav-logo{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 0;
}
.nav-logo>img{
    width: 28px;
    height: 28px;
    padding: 0;
}
.nav-logo>p{
    font-size: 21px;
}
.nav-items{
    width: 100%;
}
.nav-items>ul{
    flex-direction: column;
    gap: 10px;
    gap: 0;
}
   /* banner section start here */
  
   .banner-container{
    flex-direction: column;
    height: 483px;
    margin: 0 ;
    padding: 0;
   }
   .banner-form{
    margin:0;
    padding: 0;
    height: 256px;
    width: 300px;
    padding: 10px;
   }
   .banner-desc>h1{
    font-size: 22px;
    padding: 0;
   }
   .banner-desc>p{
    font-size: 14px;
   }
   .b-form{
    flex-direction: column;
    height: 256px;
    width: 300px;
    /* padding: 10px; */
    margin: 0;
   }
   .text{
    width: 255px;
    margin: 0;
   }
  

   /* about tour section start here */
    .about-tour-container{
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
    }
    .about-tour-desc{
        width: 100%;
    }
    h3{
        text-align: start;
    }
    /* destination section start here */
    .destination-container{
        padding-top: 20px;
        justify-content: center;
        align-items: center;
    }
    .destination-img{
        flex-direction: column;
    }
    .first, .second, .third{
        width: 100%;
        flex-direction: column;
    }
    .one,.two,.three, .four ,.five, .six,.seven{
        width: 500px;
    }
    .destination-desc>p{
        width: 100%;
        font-size: 14px;
    }
    .destination-desc>h3{
        font-size: 20px;
        text-align: center;
    }
    /* why section start here */
    .why-container{
        padding-top:  20px;
        margin: 0 auto;
    }
    .desc-container{
        flex-direction: column;
    }
    .content{
        flex-direction: column;
    }
    #desc-3{
        margin: 0;
    }
    .heading>h3{
        text-align: center;
    }
    /* deals section start here */
    .deals-container{
        margin-top: 20px;
        text-align: center;
    }
    .deals-container>h3{
        padding-left: 107px;
    }
    .img1,.img2,.img3{
        width: 335px;
    }
    .description-container{
        width: 303px;
        height: 297px;
        padding: 0;
        text-align: center;
        padding-bottom: 20px;
        top: 170px;
    }
    .img2>.description-container{
        top: 170px;
    }
    .descrip{
        flex-direction: column;
        gap: 0;
    }
    /* place section start here */
    .place-container{
        flex-direction: column;
        padding-top: 20px;
        padding-left: 10px;
        margin: 0;
    }
    .place-desc-container{
        width: 100%;
    }
    .place-img{
        width: 100%;
    }
    /* transportation section start here  */
 .transport-container{
    padding-top: 20px;
    text-align: center;
 }
 .transport-container>h3{
    padding-bottom: 10px;
 }
    .transport-card-container{
        flex-direction: column;
        margin: 0;
    }

/* newsletter section start here */
    .newsletter-container{
        flex-direction: column;
    }
    .newsletter-desc{
        width: 100%;
        flex-direction: column;

    }
    .newsletter-desc>h4{
        text-align: start;
    }
    .txt{
        width: 90%;
    }

    hr{
        margin-top: 20px;
    }

    /* why section start here */
    .desc{
        text-align: center;
        width: 100%;
    }
    #desc-3{
        width: 100%;
        margin: 0;
    }
    /* Footer section start here */
    .nav-logo{
        text-align: center;
        gap: 0;
    }
    .nav-logo>img{
        margin: 0;
    }
    .nav-logo>p{
        font-size: 21px;
        margin: 0;
    }
    .footer-container> .nav-logo{
        padding: 10px;
    }
    .footer-container> .nav-logo>img{
        padding-bottom: 0;
    }
    .logo{
        gap: 10px;
    }
    hr{
        width: 335px;
    }
}