*{
    font-family: 'Mulish', sans-serif;
}
/* nav section start here */
.nav-container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    background-color:  #FFF;
    margin: 0 auto
}
span{
    color: #FF5400;
}
.nav-logo{
    display: flex;
    gap: 17px;
    width: 50%;
}
.nav-logo>img{
    width: 56px;
    height: 56px;
    padding-top: 30px;
}
.nav-logo>p{
    font-size: 36px;
    font-weight: 800;
}
.nav-items{
    width: 50%;
}
.nav-items>ul{
    display: flex; 
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

a{
    text-decoration: none;
    color: #424247;
    font-size: 18px; 
    font-weight: 400;
}
/* nav section end here */

/* banner section start here */

.banner-container{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(images/Group13.png);
    max-width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.banner-desc{
    text-align: center;
}
.banner-desc>h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 100px;
    margin-bottom: 0;
}
.banner-desc>p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.banner-form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0px 300px 106px;
}
.b-form{
    width: 70px;
    height: 50px;
    border-radius: 8px;
    color: #FFF;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 20px;
    gap: 20px;
}
.btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
}
/* banner section end here */

/* about tour section start here */
.about-tour-container{
    max-width: 1200px;
    display: flex;
    gap: 60px;
    margin: 0 auto;
    margin-top: 100px;
}
.about-tour-desc{
    width: 50%;
}
h3{
    padding-top: 0px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 0;
}
p,li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.about-tour-img>img{
    width: 570px;
    height: 700px; 
}
/* about tour section end here */

/* destination section start here */
.destination-container{
    padding-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.destination-desc>p{
    text-align: center;
}
.destination-img{
     display: flex;
     flex-direction: column;
     gap: 24px;
}
.first, .second, .third{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
}
 h4{
    color: white;   
}

.one ,.two{
    position: relative;
    text-align: center;
}
.one>h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 28px;
    font-weight: 800;
  } 
  .two>h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 28px;
    font-weight: 800;
  }
/* destination section end here */

/* why section start here */
.why-container{
    padding-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.heading>p,h3{
    text-align: center;
}
.desc-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}
.desc{
    width: 50%;
    padding: 32px;
}
#desc-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
#desc-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
#desc-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    margin-left: 22%;
}
/* why section end here */

/* place section start here */
.place-container{
    padding-top: 50px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 auto; 
}
.place-desc-container{
    width: 50%;
}
.place-img{
    width: 50%;
    position: relative;
}
.place-img>h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #FFF;
}
/* place section end here */

.newsletter-container{
    max-width: 1200px;
    display: flex;
    padding-top: 50px;
    margin: 0 auto;
}
.newsletter-desc{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}
.newsletter-desc>h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newsletter-img{
    width: 600px;
    position: relative;
}
form{
    background: #FFF;
    display: flex;
    flex-direction: column;
    width: 393px;
    height: 52px;
    border-radius: 8px;
}
#box{
    width: 324px;
    height: 120px;
    left: 40%;
    bottom: 12%;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    text-align: center;
    padding: 10px;
}
#box>h2{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-top: 0px;
}
#box>p{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 0;
}