*{
    font-family: 'Mulish', sans-serif;
}
/* nav section start here */
.nav-container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    background-color:  #FFF;
    margin: 0 auto
}
span{
    color: #FF5400;
}
.nav-logo{
    display: inline-flex;
    gap: 17px;
    width: 50%;
}
.nav-logo>img{
    width: 56px;
    height: 56px;
    padding-top: 25px;
}
.nav-logo>p{
    font-size: 36px;
    font-weight: 800;
}
.nav-items{
    width: 50%;
}
.nav-items>ul{
    display: flex; 
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

a{
    text-decoration: none;
    color: #424247;
    font-size: 18px; 
    font-weight: 400;
}
/* nav section end here */

/* banner section start here */

.banner-container{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(images/Group13.png);
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
}
.banner-desc{
    text-align: center;
}
.banner-desc>h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 50px;
    margin-bottom: 0;
}
.banner-desc>p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
 .banner-form{
    background: rgba(255, 255, 255, 0.30);
    width: 768px;
    /* height: 65px; */
    margin-top: 20px;
    margin-bottom: 122px;
    padding: 10px;
    border-radius: 8px;
} 
.b-form{
    border-radius: 8px;
    background: none;
    width: 768px;
    /* height: 65px; */
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 10px;
}

.text{
    width: 172px;
    padding: 16px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}
label> .btn{
    width: 172px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
}
/* banner section end here */

/* about tour section start here */
.about-tour-container{
    max-width: 1200px;
    display: flex;
    gap: 60px;
    margin: 0 auto;
    margin-top: 100px;
}
.about-tour-desc{
    width: 50%;
}
h3{
    padding-top: 0px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 0;
}
p,li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.about-tour-img>img{
    width: 570px;
    height: 600px; 
}
/* about tour section end here */

/* destination section start here */
.destination-container{
    padding-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.destination-desc>p{
    text-align: center;
}
.destination-img{
     display: flex;
     flex-direction: column;
     gap: 24px;
}
.first, .second, .third{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
}
 h4{
    color: white; 
    text-align: center;
    font-size: 28px;
    font-weight: 800;  
}

.one ,.two, .three,.four,.five,.six,.seven{
    position: relative;
    text-align: center;
}
.one>h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  } 
  .two>h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .three>h4{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .four>h4{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .five>h4{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .six>h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .seven>h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* destination section end here */

/* why section start here */
.why-container{
    padding-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.heading>p,h3{
    text-align: center;
}
.desc-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}
.desc{
    width: 50%;
    padding: 32px;
}
#desc-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
#desc-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
#desc-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    margin-left: 22%;
}
/* why section end here */

/* deals section start here */

.deals-container{
    max-width: 1200px;
    margin-top: 50px;
    margin: 0 auto;
}
.deals-desc{
    text-align: center;
}
.description-container{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 389px;
    padding-left: 50px;
    padding-bottom: 20px;
    position: absolute;
    right:5%;
    top: 10%;
}

#descrip{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 0;
}
#descrip>img{
    width: 24px;
height: 24px;
padding-top: 20px;
}
h6{
    color: #FF5400;
font-size: 20px;
font-weight: 800;
}
h5{
    color: #131318;
font-size: 24px;
font-weight: 800;
padding-top: 0;
}
.img1{
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    background: url(images/Group39.png), lightgray 50% ;
    background-repeat: no-repeat;
    position: relative;
    
}
.img2{
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    background: url(images/Group40.png), lightgray 50% ;
    background-repeat: no-repeat;
    position: relative;
    
}
.img3{
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    background: url(images/Group39.png), lightgray 50% ;
    background-repeat: no-repeat;
    position: relative;
    
}
.img-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img2>.description-container{
    position: absolute;
    left:5%;
    top: 10%;
}

/* place section start here */
.place-container{
    padding-top: 50px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 auto; 
}
.place-desc-container{
    width: 50%;
}
.place-desc-container>h3{
    text-align: start;
}

.place-img{
    width: 50%;
    position: relative;
}
.place-img>h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #FFF;
}
/* place section end here */
/* transportation section start here  */
.transport-container{
    max-width: 1200px;
    margin: 0 auto;
}
.card>img{
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 20px;
}
.transport-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 20px;
    border-radius: 16px;
}
.card{
    padding-bottom: 20px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card>h3,p{
    padding-top: 0;
}
/* transportation section end here  */

/* newsletter section start here */

.newsletter-container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.newsletter-desc{
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 16px;
    padding: 40px;
    border: 1px solid #FF5400;
}
.newsletter-desc>form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;
}
.txt{
    width: 393px;
    padding: 16px 0px 16px  16px  ;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);

}
form>.btn{
    width: 415px;
}
.newsletter-desc>h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    text-align: start;
}
.newsletter-img{
    width: 600px;
    position: relative;
}

#box{
    width: 324px;
    height: 120px;
    left: 40%;
    bottom: 15%;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    text-align: center;
    padding: 10px;
}
#box>h2{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-top: 0px;
}
#box>p{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 0;
}
/* Footer section start here */
.footer-container{
    background: rgba(19, 19, 24, 0.05);
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
}
.footer-container> .nav-logo{
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer-container> .nav-logo>img{
    padding-bottom: 20px;
}
.logo{
    padding-top: 32px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
#footer{
    padding-top: 50px;
    padding-bottom: 110px;
}
/* Footer section end here */